In [31]:
import pandas as pd
import json
import psycopg2
from sqlalchemy import create_engine

#connection = psycopg2.connect(user = "postgres",
#                                  password = "goodgame",
#                                  host = "csgoanalytics.cdeosts5l1qu.us-east-2.rds.amazonaws.com",
#                                  port = "5432",
#                                  database = "demos")

# create sqlalchemy engine
#engine = create_engine("postgresql+psycopg2://postgres:goodgame@csgoanalytics.cdeosts5l1qu.us-east-2.rds.amazonaws.com/demos")

#
def close_connection(connection, cursor):
    if (connection):
        cursor.close()
        connection.close()
        
##### CREATE SQL GENERATING FUNCTIONS #####
def create_demo_id(connection):
    cursor = connection.cursor()
    cursor.execute("SELECT count(distinct id) from public.headers")
    id = str(cursor.fetchone()[0]+1)
    print("Created a new ID: "+id)
    
    return id

# Insert header table
def insert_to_header(json, id):
    print("Attempting to insert header data for ID: " + id)
    #cursor = connection.cursor()
    data = json['header']
    map = data['map']
    tickrate = data['tickRate']
    snapshotrate = data['snapshotRate']

    dictionary = {"id": [id], "map": [map], "tickrate": [tickrate], "snapshotrate": [snapshotrate]}
    print(dictionary)
    df = pd.DataFrame(dictionary)
    #df.to_sql('headers', schema='public', index=False, con=engine, if_exists='append')

    #cursor.execute("SELECT count(*) FROM public.headers WHERE id='" + id + "'")
    #num_records_generated = str(cursor.fetchone()[0])
    #print("Inserted " + num_records_generated + " records for ID: " + id)
    df.to_csv("output/headers.csv",index=False)
    print("Done")
    
    return df

# Insert entities table
def insert_to_entities(json, id):
    print("Attempting to insert entities data for ID: " + id)
    #cursor = connection.cursor()
    ids = []
    player_ids = []
    player_names = []
    team_ids = []

    data = json['entities']
    for row in data:
        ids.append(id)
        player_ids.append(row['id'])
        player_names.append(row['name'])
        team_ids.append(row['team'])

    dictionary = {"id": ids, 
                  "player_id": player_ids, 
                  "player_name": player_names, 
                  "team_id": team_ids}
    df = pd.DataFrame(dictionary)
    #df.to_sql('entities', schema='public', index=False, con=engine, if_exists='append')

    #cursor.execute("SELECT count(*) FROM public.entities WHERE id='" + id + "'")
    #num_records_generated = str(cursor.fetchone()[0])
    
    df.to_csv("output/entities.csv",index=False)
    #print("Inserted " + num_records_generated + " records for ID: " + id)
    print("Done")
    
    return df
    
# Insert snapshots table
def insert_to_snapshots(json, id):
    print("Attempting to insert snapshots data for ID: " + id)
    #cursor = connection.cursor()
    ids = []
    ticks = []
    player_ids = []
    position_x = []
    position_y = []
    position_z = []
    angle = []
    hp = []
    armor = []

    data = json['snapshots']
    for snapshot in data:
        currentTick = snapshot['tick']
        for row in snapshot['entityUpdates']:
            keys = row.keys()
            ids.append(id)
            ticks.append(currentTick)
            player_ids.append(row['entityId'])
            position_x.append(row['positions'][0]['x'])
            position_y.append(row['positions'][0]['y'])
            position_z.append(row['positions'][0]['z'])
            angle.append(row['angle']) if "angle" in keys else angle.append(0)
            hp.append(row['hp'])
            armor.append(row['armor']) if "armor" in keys else armor.append(0)

    print("Length of ids: "+str(len(ids)))
    print("Length of ticks: "+str(len(ticks)))
    print("Length of player_ids: "+str(len(player_ids)))
    print("Length of position_x: "+str(len(position_x)))
    print("Length of position_y: "+str(len(position_y)))
    print("Length of position_z: "+str(len(position_z)))
    print("Length of angle: "+str(len(angle)))
    print("Length of hp: "+str(len(hp)))
    print("Length of hp: "+str(len(hp)))

    dictionary = {"id": ids, 
                  "tick":ticks, 
                  "player_id": player_ids, 
                  "position_x": position_x, 
                  "position_y": position_y, 
                  "position_z": position_z,
                  "angle": angle,
                  "hp": hp,
                  "armor": armor}
    
    df = pd.DataFrame(dictionary)
    #df.to_sql('snapshots', schema='public', index=False, con=engine, if_exists='append')

    #cursor.execute("SELECT count(*) FROM public.snapshots WHERE id='" + id + "'")
    #num_records_generated = str(cursor.fetchone()[0])
    #print("Inserted " + num_records_generated + " records for ID: " + id)
    df.to_csv("output/entities.csv",index=False)
    print("Done")
    
    return df
    
# Insert tick table
def insert_to_ticks(json, id):
    print("Attempting to insert ticks data for ID: " + id)
    #cursor = connection.cursor()
    ids = []
    ticks = []
    fire_entity = []
    hurt_entity = []
    flashed_entity = []
    kill_killer = []
    kill_weapon = []
    kill_victim = []
    kill_assister = []
    jump_entity = []
    footstep_entity = []
    swap_team_entity = []
    round_started = []
    current_round = 1
    current_round_list = []
    round_ended_winner = []
    round_ended_reason = []

    data = json['ticks']
    for tick in data:
        currentTick = tick['nr']
        events = {}
        for event in tick['events']:
            if "name" not in event.keys():
                continue
            if event['name'] == "kill":
                for action in event['attrs']:
                    events[action['key']] = action['numVal']
            elif event['name'] == "round_started":
                events[event['name']] = 1
            elif event['name'] == "round_ended":
                for action in event['attrs']:
                    events[action['key']] = action['numVal']
            elif  event['name'] in ['chat_message','disconnect']:
                continue
            else:
                events[event['name']] = event['attrs'][0]['numVal']
                
        keys = events.keys()
        ids.append(id)
        ticks.append(currentTick)
    
        fire_entity.append(events['fire']) if "fire" in keys else fire_entity.append('')
        jump_entity.append(events['jump']) if "jump" in keys else jump_entity.append('')
        hurt_entity.append(events['hurt']) if "hurt" in keys else hurt_entity.append('')
        flashed_entity.append(events['flashed']) if "flashed" in keys else flashed_entity.append('')
        footstep_entity.append(events['footstep']) if "footstep" in keys else footstep_entity.append('')
        swap_team_entity.append(events['swap_team']) if "swap_team" in keys else swap_team_entity.append('')
        kill_killer.append(events['killer']) if "killer" in keys else kill_killer.append('')
        kill_victim.append(events['victim']) if "victim" in keys else kill_victim.append('')
        kill_weapon.append(events['weapon']) if "weapon" in keys else kill_weapon.append('')
        kill_assister.append(events['assister']) if "assister" in keys else kill_assister.append('')
        round_ended_winner.append(events['winner']) if "winner" in keys else round_ended_winner.append('')
        round_ended_reason.append(events['reason']) if "reason" in keys else round_ended_reason.append('')
        round_started.append(events['round_started']) if "round_started" in keys else round_started.append('')
        current_round = current_round + 1 if "round_started" in keys else current_round
        current_round_list.append(current_round)

    dictionary = {"id": ids, 
                  "tick":ticks, 
                  "fire_entity": fire_entity, 
                  "jump_entity": jump_entity, 
                  "hurt_entity": hurt_entity, 
                  "flashed_entity": flashed_entity,
                  "footstep_entity": footstep_entity,
                  "swap_team_entity": swap_team_entity,
                  "kill_killer": kill_killer,
                  "kill_victim": kill_victim,
                  "kill_weapon": kill_weapon,
                  "kill_assister": kill_assister,
                  "round_started": round_started,
                  "current_round": current_round_list,
                  "round_ended_winner": round_ended_winner,
                  "round_ended_reason": round_ended_reason}
    
    df = pd.DataFrame(dictionary)
    #df.to_sql('ticks', schema='public', index=False, con=engine, if_exists='append')

    #cursor.execute("SELECT count(*) FROM public.snapshots WHERE id='" + id + "'")
    #num_records_generated = str(cursor.fetchone()[0])
    df.to_csv("output/entities.csv",index=False)
    #print("Inserted " + num_records_generated + " records for ID: " + id)
    print("Done")
    
    return df

In [32]:
with open("json/demo.json", "r") as read_file:
    data = json.load(read_file)

In [33]:
header_df = insert_to_header(data,'1')
entities_df = insert_to_entities(data,'1')
snapshot_df = insert_to_snapshots(data, '1')
tick_df = insert_to_ticks(data, '1')

Attempting to insert header data for ID: 1
{'id': ['1'], 'map': ['de_dust2'], 'tickrate': [127.9231719639882], 'snapshotrate': [256]}
Done
Attempting to insert entities data for ID: 1
Done
Attempting to insert snapshots data for ID: 1
Length of ids: 11585
Length of ticks: 11585
Length of player_ids: 11585
Length of position_x: 11585
Length of position_y: 11585
Length of position_z: 11585
Length of angle: 11585
Length of hp: 11585
Length of hp: 11585
Done
Attempting to insert ticks data for ID: 1
Done

In [35]:
tick_df[tick_df['round_ended_reason'] != ""]

,id,tick,fire_entity,jump_entity,hurt_entity,flashed_entity,footstep_entity,swap_team_entity,kill_killer,kill_victim,kill_weapon,kill_assister,round_started,current_round,round_ended_winner,round_ended_reason
129,1,4336,3,,10,,,,3,10,9,,,1,3,8
289,1,11014,8,,9,,,,8,9,9,,,2,3,8
563,1,28942,,,,,,,,,,,,3,3,7
805,1,40663,,,,,,,,,,,,4,3,7
1024,1,54625,9,,3,,,,9,3,307,10,,5,2,9
1268,1,69644,3,,10,,,,3,10,307,,,6,3,8
1433,1,100165,,,9,,,,,,,,,7,2,1
1605,1,110100,6,,3,,,,6,3,309,,,8,2,9
1872,1,131197,,,2,,,,,,,,,9,2,1
2131,1,147853,,,,,,,,,,,,10,3,7
2361,1,161505,9,,12,,,,9,12,307,,,11,2,9
2567,1,191787,,,3,,,,,,,,,12,2,1
2816,1,205577,,,,,,,,,,,,13,3,7
2994,1,215876,12,,2,,,,12,2,302,,,14,3,8
3214,1,228434,4,,12,,,,4,12,301,,,15,2,9
3414,1,246005,,,,,,,,,,,,16,3,7
3581,1,255279,12,,9,,,,12,9,304,5,,17,2,9
3727,1,261299,7,,9,,,,7,9,307,,,18,2,9
3932,1,271938,8,,6,,,,8,6,303,,,19,2,9
4136,1,290665,,,8,,,,,,,,,20,2,1
4332,1,305893,,,7,,,,,,,,,21,2,1
4619,1,325502,,,,,,,,,,,,22,3,7
4771,1,335188,6,,5,,,,6,5,304,,,23,3,8
4977,1,353506,7,,9,,,,7,9,303,,,24,2,9
5238,1,367656,5,,10,,,,5,10,303,,,25,2,9
5397,1,382669,8,,9,,,,8,9,309,,,26,2,9